*.tif
*.jpg
*.png
*.csv
*.bmp
*.zip
*.pgm
*.doc
*.docx


Imagenes/
.ipynb_checkpoints/
Practica1/.ipynb_checkpoints
Practica1/FuncionesAux/.ipynb_checkpoints

/ActividadIris/.ipynb_checkpoints
/ActividadIris/Datos/
/RuidoBlanco/.ipynb_checkpoints
/RuidoBlanco/Espinoza_Martínez_Ramírez_Iris.rar
Practica3/.ipynb_checkpoints/
/Practica3/texturas


/PCA/.ipynb_checkpoints/
/PCA/lfw1000/
/PCA/rawdata/
/PCA/test/
